<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php

/**
 * @var \Hunters\Search\Block\Index $block
 */

?>

<div class="search">
    <form id="search-form" class="fieldset" action="<?= /* @escapeNotVerified */ $block->getUrl('hunters_search/Index/searchresult') ?>" method="post" enctype="multipart/form-data">
        <?= $block->getBlockHtml('formkey') ?>
        <label for="search" class="field-label"><span><?= /* @escapeNotVerified */ __('Search PDF') ?></span></label>
        <div class="fieldset">
            <input type="text" id="search_file" name="search_file" class="input-file"/>
            <input type="submit" id="submit"  class="required-entry" />
            <?= $block->getButtonHtml(__('Search PDF File'), '', 'search-submit') ?>
        </div>
    </form>
</div>

