<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>

<?php

/**
* @var \Hunters\Search\Block\Result $block
*/

?>

<?php $pdfList = $block->getPdfFile(); ?>

<?php if (count($pdfList)): ?>
<ul>
	<?php foreach($pdfList as $file): ?>
		<?php if (strpos($file['filename'], "pdf") > 0): ?>
			<li><?php echo  $block->getDownloadableUrl($file['filename']); ?></li>
		<?php endif ?>
	<?php endforeach; ?>
</ul>
<?php else: ?>
	<h2>File not found</h2>
<?php endif ?>

